.fejlec {
    background-image: url(kepek/hero.jpg);
    height: 100vh;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px;
}

.tarolo {
    width: 60%;
    margin: auto;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gomb1 {
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: rgb(216, 115, 32);
    width: 160px;
    text-align: center;
    list-style-type: none;
    padding: 15px;
    margin: auto;
}

.gomb2 {
    text-decoration: none;
    color: white;
    border-radius: 15px;
    border: 3px solid darkorange;
    background-color: rgba(56, 56, 56, 0.874);
    margin: auto;
    width: 140px;
    text-align: center;
    list-style-type: none;
    padding: 10px;
}


.menu2 {
    text-align: center;
    background-color: black;
    color: white;
}

.menu2 ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.menu3 {
    text-align: center;
    background-color: black;
    color: white;
}

img{
    width: 35%;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    padding: 15px;
}

.img {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu4 {
    text-align: center;
    background-color: black;
    color: white;
}

.doboz {
    margin: auto;
    padding: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.gomb1:hover a {
    color: black;
}

.gomb1:hover {
    background-color: wheat;
}

.gomb2:hover a {
    color: black;
}

.gomb2:hover {
    background-color: white;
}

.jatek {
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

.event {
    background-color: rgba(169, 169, 169, 0.292);
    color: white;
    border-radius: 15px;
    text-align: left;
    border: 2.5px solid lightgray;
    width: 75%;
}
 
a {
    color: white;
    text-decoration: none;
}

.pontok {
    text-align: left;
}

p {
    margin: 15px;
}

h2 {
    margin: 15px;
}

h1 {
    padding: 20px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
}